.HeaderTitle {
  margin-bottom: 18px;
  color: #11343F;
  font-weight: 700;
}

.HeaderSubTitle {
  max-width: 1130px;
  font-size: 14px;
  line-height: 18px;
}

.HeaderHrefBTN {
  font-size: 14px;
  font-weight: 500;
  width: max-content;
  display: block;
  margin-right: auto;
  margin-bottom: 25px;
  transition: 0.3s;
}
.HeaderHrefBTN img {
  margin-right: 7px;
}

.TableFutures .HeadTable {
  background: #eef1f3;
}
.TableFutures tbody {
  border-bottom: 1px solid #ECF2F4;
}
.TableFutures tr td {
  padding: 19px 10px;
  font-weight: 500;
  vertical-align: middle;
}
.TableFutures tr td .OthTDTitle {
  font-size: 14px;
  font-weight: 500;
  color: #11343F;
}
.TableFutures tr td .OthTDTitle .OthTDSubTitle {
  font-weight: 400;
  color: #8AAAB4;
}
.TableFutures tr .TDContentExp {
  display: table-cell;
  vertical-align: middle;
}
.TableFutures tr .TDContentExp .TDContentExpCont {
  display: flex;
  align-items: center;
}
.TableFutures tr .TDContentExp .TDContentExpCont img {
  margin: 0 10px 0 0;
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
}
.TableFutures tr .TDContentExp .TDContentExpCont svg {
  margin: 0 10px 0 0;
}
.TableFutures tr .TDContentExp .TDContentExpCont .TDImg {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  min-height: 40px;
  min-width: 40px;
  margin: 0 20px 0 0;
}
.TableFutures tr .TDContentExp .TDContentExpCont .OthTDImg {
  width: 22px;
  height: 22px;
  max-width: 22px;
  max-height: 22px;
  min-height: 22px;
  min-width: 22px;
  margin: 0 15px 0 0;
}
.TableFutures tr .TDContentExp .TDContentExpCont .TDTitle {
  font-size: 14px;
  font-weight: 500;
  color: #11343F;
}
.TableFutures tr .TDContentExp .TDContentExpCont .TDTitle .TDSubTitle {
  font-weight: 400;
  color: #8AAAB4;
}
.TableFutures tr .TDContentExp .TDContentExpCont .OthTDTitle {
  font-size: 14px;
  font-weight: 500;
  color: #007585;
}
.TableFutures tr .TDContentExp .TDContentExpCont .OthTDTitle .OthTDSubTitle {
  opacity: 0.5;
  font-weight: 500;
  color: #007585;
}
.TableFutures tr .TDContentExp .TDContentExpCont button {
  padding: 10px 30px;
  margin: 0 15px 0 0;
}
.TableFutures tr .TDContentExp .TDContentExpCont button:last-child {
  margin: 0;
}
.TableFutures tr .TDContentExp .TDContentExpCont button svg {
  margin: 0 20px 0 0;
}
.TableFutures tr .TDContentExp .TDContentExpCont .RedeemActive {
  background: #165169 !important;
}
.TableFutures tr th {
  color: #8AAAB4;
  font-weight: 500;
  font-size: 11px;
}

@media (max-width: 991px) {
  .HeaderSubTitle {
    max-width: unset;
    width: 100% !important;
  }

  .TableFutures {
    border-top: 1px solid #ddd;
  }
  .TableFutures tbody {
    border: 0;
  }
  .TableFutures tbody tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 15px;
  }
  .TableFutures tbody tr .TDContentExp {
    display: block;
    text-align: left;
    width: 100%;
  }
  .TableFutures tbody tr td {
    display: block;
    text-align: left;
    padding: 10px 0;
  }
  .TableFutures tbody tr td:last-child {
    padding: 10px 0 20px 0;
  }
  .TableFutures tbody tr td .OthTDTitle {
    display: flex;
    align-items: center;
  }
  .TableFutures tbody tr td .OthTDTitle .OthTDSubTitle {
    margin-left: 10px;
  }
  .TableFutures .HeadTable tr {
    display: none;
  }
  .TableFutures .HeadTable tr th {
    white-space: nowrap;
  }
}

/*# sourceMappingURL=Futures.module.css.map */
