@import "../../../../variables";

.ChooseToken {
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;

    color: #11343f;
  }
  .top {
    border-bottom: 1px solid #f0f6fa;
    padding-bottom: 14px;

    .searchForm {
      margin-top: 16px;

      .searchFormGroup {
        padding: 12px 14px;
        background: #edf3f7;
        border-radius: 3px;
      }

      .searchInput {
        background-color: transparent;
        font-size: 16px;
        border: none;
        line-height: 18px;

        /* Fonts / Gray 1 */
        padding: 0;

        color: #678086;

        &:focus {
          outline: none;
          border: none !important;
        }
      }
      .inputText {
        background-color: transparent;
        padding: 0;
        border: none;
      }
    }
  }
  .tokensList {
    .noResults {
      padding: 32px;

      .btnAllTokens {
        margin: 19px 0;
        display: block;
      }
    }
    .tokenItem {
      padding: 12px 29px;
      border-bottom: 1px solid #f0f6fa;
      cursor: pointer;
      margin: 0 -29px;
      &:hover {
        background-color: $grey3;
      }
      .Image {
        width: 48px;
        height: 48px;
        background: #c4c4c4;
        border-radius: 19.2308px;
        margin-right: 13px;
      }
      .tokenName {
        font-weight: 500;
        font-size: 14px;
        line-height: 109.3%;
        /* or 15px */

        text-transform: capitalize;

        /* Fonts / Dark */

        color: #11343f;
      }
      .price {
        font-weight: 500;
        font-size: 14px;
        line-height: 109.3%;
        /* or 15px */

        text-align: right;
        text-transform: capitalize;

        /* Fonts / Dark */

        color: #11343f;
      }
    }
  }
  .textBottom {
    color: #11343f;
    font-size: 14.5px;
    text-align: center;
    margin-top: 10px;
  }
}
