@import "../variables";

.passwordTooltipContainer {
  .passwordTooltipWrapper {
    padding: 12px 14px 37px 14px;
    background: rgba(14, 25, 40, 0.98);
    border-radius: 3.58793px;
    .passwordTooltip {
      text-align: left;
      font-weight: 500;
      font-size: 11.6608px;
      line-height: 15px;

      color: $white;
      ul {
        padding: 0;
        margin: 10px 0 0 0;
        list-style: none;

        li {
          &:not(:last-child) {
            margin-bottom: 5px;
          }

          svg {
            margin-right: 12px;
          }
        }
      }
    }
  }
  .passwordTooltipArrow {
    margin-left: auto;
    left: 50% !important;
    margin-left: -6px;
  }
}

.signUpForm,
.verificationForm {
  max-width: 513px;
  margin: 0 auto;

  background: $white;
  box-shadow: 0px 27px 44px rgba(0, 47, 67, 0.21);
  border-radius: 9px;
  padding: 51px 49px 40px;

  .inlineInputRow {
    margin-left: -8.8px;
    margin-right: -8.8px;

    .Col {
      padding-left: 8.8px;
      padding-right: 8.8px;
    }
  }

  .Input {
    background: $white;

    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px !important;
    height: auto;
    line-height: 20px;
    /* identical to box height */

    color: #2d5569;
    padding: 14px 15px;
    height: auto;
    border: 1px solid #d4dada;

    &.invalid {
      border: 1px solid #ff3838;
    }

    input {
      background: transparent;
      padding: 0;
      border: none !important;
    }
    &:focus,
    &:active {
      outline: none;
    }
  }
  .validationError {
    color: #ff3838;
    font-size: 11.6608px;
    line-height: 15px;
    margin-top: 4px;

    svg {
      margin-right: 6px;
    }
  }
  .InputGroupActive {
    border: 1px solid $bgGreenDark;
  }
  .passwordIcon {
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    user-select: none;
  }
  .forgotPassword {
    margin-top: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: $linkBtnGreen;
  }
  .submitBtn {
    padding: 20px;
    height: 60px;
    .loadingCircleIcon {
      width: 24px;
      height: 24px;

      circle {
        stroke: #fff !important;
      }
    }
  }
  .confirmTerms {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    user-select: none;
    color: #2d5569;

    opacity: 0.6;

    input {
      margin-right: 10px;

      &.invalid + span {
        color: #ff3838;

        a {
          color: #ff3838;
        }
      }
    }
    a {
      color: #2d5569;
      display: inline-block;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
.verificationForm {
  padding: 43px 82px;
  .icon {
    background: #eaf0f1;
    border-radius: 30.4828px;
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
  }
  .pageTitle {
    text-align: center;
    margin-bottom: 18px;
  }
  .pageDescr {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: none;
    color: #2d5569;

    opacity: 0.75;
  }
  .verificationFormInner {
    width: 100%;

    .Input {
      font-size: 18px;
      line-height: 1;
    }
  }
  .descrBottom {
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #2d5569;

    opacity: 0.75;

    max-width: 264px;
    margin: 43px auto 0;
  }
  .resendEmail {
    margin-top: 19px;
    display: inline-block;
  }
}

.pageTitle {
  font-weight: bold;
  font-size: 29px;
  line-height: 96.3%;
  /* identical to box height, or 28px */

  letter-spacing: -0.03em;
  text-transform: capitalize;

  color: $darkBlue;

  font-family: $Asul;
  margin-bottom: 15px;
}
.pageDescr {
  font-size: 15px;
  line-height: 126.3%;
  /* or 14px */

  text-transform: capitalize;
  margin-bottom: 29px;
}

.signUpWrapper {
  background: #003d56 url("/images/Vector 4 (2).svg") no-repeat;
  background-position: top 20% right;
  min-height: 100vh;
  .signUpInner {
    padding: 74px 0;
  }

  .blockTitle {
    font-weight: bold;
    font-size: 40px;
    line-height: 96.3%;
    /* or 39px */

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;

    color: $white;
    margin-bottom: 37px;
    font-family: $Asul;
  }
}
@media screen and (max-width: 768px) {
  .signUpWrapper {
    .signUpInner {
      padding-top: 23px;

      .blockTitle {
        font-size: 28px;
        line-height: 96.3%;
        margin-bottom: 29px;
      }
      .pageTitle {
        text-align: center;
        font-size: 24px;
        line-height: 96.3%;
      }
      .pageDescr {
        font-size: 15px;
        line-height: 96.3%;
        text-align: center;
      }
      .signUpForm,
      .verificationForm {
        padding: 32px 18px;

        .Input {
          font-size: 15px;
          padding: 16px 12px;
        }
        .icon {
          height: 65px;
          width: 65px;
          svg {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
