@import '../../../variables';
body .tradeModal {
  max-width: 403px !important;
  width: auto !important;
  min-width: unset !important;
  padding-bottom: 31px;

  .operationTabs {
    .tabItem {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.02em;

      color: #8199a5;
      height: 53px;
      background: #f3f4f4;
      border: 1px solid #eaedf1;
      cursor: pointer;

      &.active {
        background: #ffffff;
        border-bottom: none;
        color: #00b2c0;
        cursor: default;
      }

      &:hover:not(.active) {
        background-color: $grey3;
        color: $dark;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body .tradeModal {
    max-width: 100% !important;
  }
}
