/** Colors **/
$darkBlue: #11343f;
$bgWhite: #fcfcfd;
$grey1: #678086;
$grey2: #8aaab4;
$grey3: #f0f6fa;
$bgLight: #fafdff;
$bgGrey: #f0f6fa;
$bgGrey2: #e1f0f6;
$bgDark: #003d56;
$bgGreenLight: #45ffde;
$bgGreenDark: #1ab0c4;
$white: #fff;
$shadowDark: #012b3c;
$btnHoverGreen: #26e6c4;
$redLight: #e81f67;
$linkBtnGreen: #009fb5;
$dark: #11343f;

/** Fonts **/
$Asul: "Asul", sans-serif;
